<!--arrayform.com-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Attendance Checker App</title>
   
    <link rel="stylesheet" href="css/jquery.sidr.light.css"/>
    <link rel="stylesheet" href="css/animate.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</head>

<body>

</div>

    <div class="container_12 pop-content">
        <div class="grid_12 wrap-btn-close ta-r">
            <i class="icon iBigX closePopup"></i>
        </div>
        <div class="grid_6 prefix_1">
            <div class="form login-form">
                <form action="login.html">
                    <h3 class="rs title-form"></h3>
                    <div class="box-white">
                     <br>
                        <br>
                      
                        <br>
                        <br>
                        <h4 class="rs title-box">YOU HAVE SUCCESFULLY LOGGED OUT</h4>
                        <br>
                        
                       
                        <br>
                        <br>
                        
                        <br>
                        <br>
                        <br>
                        <a href="login.html">
                            <h4>LOG IN AGAIN</h4>
                        <h3></h3>
                        </a>
                    </div>
                </form>
            </div>
        </div>

</div>
</body>
</html>